@media (max-width: 900px){
	html #wunderlist-base .main-interface {
		min-width: inherit !important;
	}
	
	html #wunderlist-base:not(.packaged) #lists{
		margin-left: 0px;
		
	}
}

@media (max-width: 500px){	
	html #wunderlist-base:not(.packaged) #tasks {
		left: 40px !important;		
	}
	
	html #wunderlist-base:not(.packaged) #detail {
		
	}

	html #wunderlist-base:not(.packaged) #lists {
		transition: margin-left 0.3s,z-index 0.3s;		
		margin-left: -160px;
	}
	
	html #wunderlist-base:not(.packaged) #lists:hover {
		margin-left: 0px;		
		z-index: 2;
	}
}