body{
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.header{
    text-align: center;
}

.opcion{
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 4px solid white;
}

#status{
    background-color: #fafad2;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid yellow;
    display: none;
}

#opciones{
    width: 500px;
    margin: auto;
}

#updateNotice{
    background-color: #fafad2;
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid yellow;

    display: none;
}